/* Desktops*/

@media (min-width: 1601px){
  body{
  background-color: seagreen;
  }
}

/* Laptops*/

@media (min-width: 1201px) and (max-width:1600px) {
  body{
  background-color: limegreen;
  }
}

/* iPads and tablets */

@media (min-width: 481px) and (max-width: 1200px) {
  body{
  background-color: powderblue;
  }
}

/* Mobile Devices */

@media (min-width: 319px) and (max-width: 480px) {
  body{
  background-color: lightsalmon;
}
}